Repository fastapi/sqlmodel, pull requests merged in 2023-10, with the labels that each got.

#461 🐛 Fix SQLAlchemy version 1.4.36 breaks SQLModel relationships (#315)
  sqlmodel/main.py
  tests/test_main.py
Labels: investigate

#474 📝 Update instructions about how to make a foreign key required in `docs/tutorial/relationship-attributes/define-relationships-attributes.md`
  docs/tutorial/relationship-attributes/define-relationships-attributes.md
Labels: investigate

#631 📝 Fix typos (duplication) in main page
  README.md
  docs/index.md
Labels: docs

#425 ✨ Raise a more clear error when a type is not valid
  sqlmodel/main.py
  tests/test_sqlalchemy_type_errors.py
Labels: feature

#439 ⬆ Raise SQLAlchemy version requirement to at least `1.4.29` (related to #434)
  pyproject.toml
Labels: bug

#519 ⬆️ Upgrade support for SQLAlchemy 1.4.49, update tests
  pyproject.toml
  tests/test_tutorial/test_fastapi/test_multiple_models/test_tutorial001.py
  tests/test_tutorial/test_fastapi/test_multiple_models/test_tutorial002.py
  tests/test_tutorial/test_indexes/test_tutorial001.py
  tests/test_tutorial/test_indexes/test_tutorial006.py
Labels: refactor

#58 🐛 Fix `AsyncSession` type annotations for `exec()`
  sqlmodel/ext/asyncio/session.py
  sqlmodel/orm/session.py
Labels: bug

#428 🔧 Update mypy config, use `strict = true` instead of manual configs
  pyproject.toml
Labels: internal

#207 📝 Fix docs for Pydantic's fields using `le` (`lte` is invalid, use `le` )
  docs/tutorial/fastapi/limit-and-offset.md
  docs_src/tutorial/fastapi/app_testing/tutorial001/main.py
  docs_src/tutorial/fastapi/delete/tutorial001.py
  docs_src/tutorial/fastapi/limit_and_offset/tutorial001.py
  docs_src/tutorial/fastapi/relationships/tutorial001.py
  docs_src/tutorial/fastapi/session_with_dependency/tutorial001.py
  docs_src/tutorial/fastapi/teams/tutorial001.py
  docs_src/tutorial/fastapi/update/tutorial001.py
  tests/test_tutorial/test_fastapi/test_delete/test_tutorial001.py
  tests/test_tutorial/test_fastapi/test_limit_and_offset/test_tutorial001.py
  tests/test_tutorial/test_fastapi/test_relationships/test_tutorial001.py
  tests/test_tutorial/test_fastapi/test_session_with_dependency/test_tutorial001.py
  tests/test_tutorial/test_fastapi/test_teams/test_tutorial001.py
  tests/test_tutorial/test_fastapi/test_update/test_tutorial001.py
Labels: docs

#593 📝 Update link to docs for intro to databases
  docs/index.md
Labels: docs

#634 ✏️ Fix contributing instructions to run tests, update script name
  docs/contributing.md
Labels: docs

#601 📝 Clarify description of in-memory SQLite database in `docs/tutorial/create-db-and-table.md`
  docs/tutorial/create-db-and-table.md
Labels: docs

#440 ✨ Add support for all `Field` parameters from Pydantic `1.9.0` and above, make Pydantic `1.9.0` the minimum required version
  pyproject.toml
  sqlmodel/main.py
  tests/test_pydantic/__init__.py
  tests/test_pydantic/test_field.py
Labels: feature

#505 ✨ Add support for passing a custom SQLAlchemy type to `Field()` with `sa_type`
  sqlmodel/main.py
  tests/test_field_sa_column.py
Labels: feature
