Repository fastapi/sqlmodel, pull requests merged in 2024-06, with the labels that each got.

#753 ✏️ Fix broken link to `@dataclass_transform` (now PEP 681) in `docs/features.md`
  docs/features.md
Labels: docs

#963 🐛 Fix set varchar limit when `max_length` is set on Pydantic models using Pydantic v2
  sqlmodel/_compat.py
Labels: bug

#965 📌 Pin typing-extensions in tests for compatiblity with Python 3.8, dirty-equals, Pydantic
  .github/workflows/test.yml
  requirements-tests.txt
Labels: internal

#964 ⬆️ Update minimum SQLAlchemy version to 2.0.14 as that one includes `TryCast` used internally
  pyproject.toml
Labels: upgrade

#967 ♻️ Refactor generate select template to isolate templated code to the minimum
  pyproject.toml
  scripts/generate_select.py
  sqlmodel/sql/_expression_select_cls.py
  sqlmodel/sql/_expression_select_gen.py
  sqlmodel/sql/_expression_select_gen.py.jinja2
  sqlmodel/sql/expression.py
  sqlmodel/sql/expression.py.jinja2
Labels: refactor

#966 🐛 Fix pydantic `EmailStr` support and `max_length` in several String subclasses
  sqlmodel/main.py
Labels: bug

#968 ⬆️ Upgrade Ruff and Black
  .pre-commit-config.yaml
  requirements-docs-tests.txt
  requirements-docs.txt
  requirements-tests.txt
  scripts/test.sh
  sqlmodel/ext/asyncio/session.py
  sqlmodel/main.py
  sqlmodel/orm/session.py
  sqlmodel/sql/_expression_select_gen.py
  sqlmodel/sql/_expression_select_gen.py.jinja2
  tests/test_select_gen.py
Labels: internal

#975 ✏️ Update pip installation command in tutorial
  docs/tutorial/index.md
Labels: docs

#950 ✏️ Fix typo in `sqlmodel/_compat.py`
  sqlmodel/_compat.py
Labels: docs

#943 ✏️ Fix typo in `docs/tutorial`
  docs/tutorial/create-db-and-table.md
  docs/tutorial/indexes.md
  docs/tutorial/select.md
Labels: docs

#976 ✏️ Add missing step in `create-db-and-table-with-db-browser.md`
  docs/tutorial/create-db-and-table-with-db-browser.md
Labels: docs

#911 ✏️ Fix internal link in `docs/tutorial/create-db-and-table.md`
  docs/tutorial/create-db-and-table.md
Labels: docs
