Repository fastapi/sqlmodel, pull requests merged in 2024-07, with the labels that each got.

#992 ✨ Add official UUID support, docs and tests, internally using new SQLAlchemy 2.0 types
  docs/advanced/uuid.md
  docs_src/advanced/uuid/__init__.py
  docs_src/advanced/uuid/tutorial001.py
  docs_src/advanced/uuid/tutorial001_py310.py
  docs_src/advanced/uuid/tutorial002.py
  docs_src/advanced/uuid/tutorial002_py310.py
  mkdocs.yml
  sqlmodel/__init__.py
  sqlmodel/main.py
  sqlmodel/sql/sqltypes.py
  tests/test_advanced/test_uuid/__init__.py
  tests/test_advanced/test_uuid/test_tutorial001.py
  tests/test_advanced/test_uuid/test_tutorial001_py310.py
  tests/test_advanced/test_uuid/test_tutorial002.py
  tests/test_advanced/test_uuid/test_tutorial002_py310.py
Labels: feature

#1018 🔨 Update docs Termynal scripts to not include line nums for local dev
  docs/css/custom.css
  docs/js/custom.js
Labels: internal

#1003 📝 Update docs
  docs/tutorial/automatic-id-none-refresh.md
  docs/tutorial/create-db-and-table.md
  docs/tutorial/relationship-attributes/create-and-update-relationships.md
  docs/tutorial/where.md
Labels: docs

#983 ✨ Add support for cascade delete relationships: `cascade_delete`, `ondelete`, and `passive_deletes`
  docs/tutorial/relationship-attributes/cascade-delete-relationships.md
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/__init__.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial001.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial001_py310.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial001_py39.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial002.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial002_py310.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial002_py39.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial003.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial003_py310.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial003_py39.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial004.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial004_py310.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial004_py39.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial005.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial005_py310.py
  docs_src/tutorial/relationship_attributes/cascade_delete_relationships/tutorial005_py39.py
  mkdocs.yml
  sqlmodel/main.py
  tests/test_field_sa_column.py
  tests/test_ondelete_raises.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/__init__.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial001.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial001_py310.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial001_py39.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial002.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial002_py310.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial002_py39.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial003.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial003_py310.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial003_py39.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial004.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial004_py310.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial004_py39.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial005.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial005_py310.py
  tests/test_tutorial/test_relationship_attributes/test_delete_records_relationship/test_tutorial005_py39.py
Labels: feature

#1030 ✏️ Fix typo in `cascade_delete` docs
  docs/tutorial/relationship-attributes/cascade-delete-relationships.md
Labels: docs
