Repository fastapi/sqlmodel, pull requests merged in 2024-10, with the labels that each got.

#1124 👷 Upgrade Cloudflare GitHub Action
  .github/workflows/deploy-docs.yml
Labels: internal

#1126 👷 Update worfkow deploy-docs-notify URL
  .github/workflows/deploy-docs.yml
Labels: internal

#1128 👷 Update `labeler.yml`
  .github/workflows/labeler.yml
Labels: internal

#1129 ➕ Add docs dependency markdown-include-variants
  mkdocs.yml
  requirements-docs.txt
Labels: internal

#1131 🚨 Fix types for new Pydantic
  sqlmodel/main.py
Labels: refactor

#1135 👷 Use uv in CI
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
  requirements-github-actions.txt
Labels: internal

#1136 👷 Fix smokeshow, checkout files on CI
  .github/workflows/smokeshow.yml
Labels: internal

#1137 👷 Update issue manager workflow
  .github/workflows/issue-manager.yml
Labels: internal

#1148 📝 Fix internal links in docs
  docs/databases.md
  docs/db-to-code.md
  docs/install.md
Labels: docs

#1149 📝 Update includes for `docs/tutorial/create-db-and-table.md`
  docs/tutorial/create-db-and-table.md
Labels: docs

#1152 ⬆️ Upgrade markdown-include-variants to version 0.0.3
  requirements-docs.txt
Labels: internal

#1151 📝 Update includes for `docs/advanced/uuid.md`
  docs/advanced/uuid.md
Labels: docs
