Repository fastapi/sqlmodel, pull requests merged in 2025-02, with the labels that each got.

#1302 👷 Add retries to Smokeshow
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
Labels: internal

#1113 ✏️ Fix typo in `databases.md`
  docs/databases.md
Labels: docs

#1303 👷 Add Codecov to CI, Smokeshow/Cloudflare has been flaky lately
  .github/workflows/test.yml
  scripts/test.sh
Labels: internal

#1306 👷 Revert "Add Codecov to CI, Smokeshow/Cloudflare has been flaky lately (#1303)"
  .github/workflows/test.yml
  scripts/test.sh
Labels: internal

#1309 💚 Fix CI test suite for Python 3.7
  .github/workflows/test.yml
Labels: internal

#1147 📝 Update documentation to refer to `list` instead of `List`
  docs/tutorial/code-structure.md
  docs/tutorial/fastapi/response-model.md
  docs/tutorial/many-to-many/create-models-with-link.md
  docs/tutorial/relationship-attributes/define-relationships-attributes.md
  docs/tutorial/relationship-attributes/type-annotation-strings.md
Labels: docs

#1255 🐛 Fix Pydantic version check for version 2.10.x onwards
  sqlmodel/_compat.py
  sqlmodel/main.py
Labels: bug

#1304 🐛 Fix type annotation in `Field` constructor
  sqlmodel/main.py
Labels: bug

#1291 🩺 Take the GH badge only from pushes to the `main` branch
  README.md
  docs/index.md
Labels: docs
