Repository fastapi/sqlmodel, pull requests merged in 2025-09, with the labels that each got.

#1552 👷 Detect and label merge conflicts on PRs automatically
  .github/workflows/detect-conflicts.yml
Labels: internal

#1307 💚 Fix CI test suite for Windows and MacOS
  .github/workflows/test.yml
  pyproject.toml
  tests/test_select_gen.py
Labels: internal

#1580 ⬆ Bump typing-extensions from 4.13.2 to 4.15.0 for Python 3.9+
  requirements-tests.txt
Labels: dependencies, internal

#1583 📝 Fix typo in `docs/tutorial/fastapi/simple-hero-api.md`
  docs/tutorial/fastapi/simple-hero-api.md
Labels: docs
